@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', 'sans-serif';
    margin: 0;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    margin-left: 3%;
}
nav{
    display: flex;
    background-color: rgb(100, 100, 100);
    padding: 25px;
}
.logo{
    height: 9em;
}
.album{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}
.album-title{
    font-size: 26px;
}
.artist{
    margin-top: 10px;
}

.sidenav{
    position:fixed;
    height: 100%;
    width: 3%;
    background-color: rgb(235, 235, 235);
    z-index: 1;
    justify-content: space-evenly;
    display: flex;
    flex-direction:column;
}
