/* Set up 4 boxes with different colour and parent container */
.box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: max-content;
    margin: 0 auto;
    position: relative;
}
.box{
    width: 10vh;
    height: 10vh;
}
.upper, .lower{
    display: flex;
    flex-direction: row;
}
.box1{
    background-color: red;
}
.box2{
    background-color: yellow;
}
.box3{
    background-color: blue;
}
.box4{
    background-color: green;
}
/* Transforming boxes in different direction */
.box1, .box2, .box3, .box4{
    transition-property: transform;
    transition-duration: 1.5s;
}
.box-container:hover .box1{
    transform: rotateZ(90deg) translateY(10vh);
}
.box-container:hover .box2{
    transform: translateX(10vh) rotateZ(-90deg);
}
.box-container:hover .box3{
    transform: rotateZ(-90deg) translateY(-10vh);
}
.box-container:hover .box4{
    transform: translateX(10vh) rotateZ(90deg);
}
/* The text under boxes */
.text{
    font-size: 1.25rem;
    position: absolute;
    z-index: -1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}