doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home | Asset Manager
    body 
        h1 Asset and Expense manager 
        h2 Welcome #{user.name}
        Button
            a(href='/signout') Sign out
        Button 
            a(href="/income/home") Check your Assets 
        br
        Button 
            a(href="/expense/home") Check your Expenses
