@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', 'sans-serif';
    padding: 0%;
    margin: 0%;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
header{
    margin: 0 auto;
    text-align: center;
    padding: 0vw 5vw 0vw 5vw;
}
.top-section{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5vh;
    column-gap: 5vw;
}
.blog{
    margin: auto;
    object-fit: fill;
    height: 100%;
    width: 100%;
}
.blog-with-image{
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-with-image > img{
    height: 100%;
    width: 100%;
}
form{
    margin-top: 50px;
}
form > label{
    display: block;
    margin: 0.6rem 0px 0.6rem 0px;
}
select{
    font-size: 16px;
    padding: 0.1em;
}
/* Link Styling */
a{
    text-decoration: underline;
    color: blue;
    cursor:pointer;
}
input[type="submit"]{
    background-color: #9ee;
}
input[type="submit"]:hover{
    background-color: #3ee;
}
.form{
    width: max-content;
}
.no-shadow, .no-shadow:focus{
    width: max-content;
    box-shadow: none;
}
input{
    padding: 0.35rem 0.5rem;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 0.25em;
}
input:focus{
    box-shadow: 3px 3px 3px 0px #aaaa;
}

footer{
    background-color: #ddd;
    width: 100%;
    margin-top: 5vh;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) and (min-width: 450px) {
    .main-container{
        padding: 5%;
    }
    .top-section{
        grid-template-columns: 1fr;
        row-gap: 2vh;
    }
}

@media screen and (max-width: 450px) {
    .main-container{
        padding: 0px;
    }
    .top-section{
        grid-template-columns: 1fr;
        row-gap: 2vh;
    }
    input[type="radio"], input[type="checkbox"]{
        width: max-content;
    }
    .form{
        width: 90vw;
    }
    input{
        padding: 5px 10px;
        width: 80vw;
    }
}