.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.nav-items{
    display: flex;
    list-style: none;
}

.nav-items li{
    padding: 1em;
}

.nav-items li:hover{
    background-color: rgb(233, 233, 233);
}

a{
    text-decoration: none;
    color: black;
}

